*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
        background-color: gray;
        background:linear-gradient(rgba(0,0,0,0.5),#4a4a49);
        background-size:cover;
        background-position: center;
        height: 100vh;
    }
#marquee{
    font-family:"Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1cm;
    color: rgb(154, 44, 44);
      
    display: flex;
    align-items: center;
}
#marquee{
background-color:#1d1918;
    background-size: cover;
}
.logo{
    display: block;
    margin-bottom: 40px;
}
.logo-img{
    width:150px;
}

.sidenav{
    width: 250px;
    height: 100%;
    background:#1d1918;
    position: fixed;
    left:0; 
    top: 0;
    padding: 20px 30px;
}
.nav li{
    list-style: none;
    position: relative;
}
.nav li{
    padding: 10px 0;
    padding-left: 12px;
}
.nav li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    align-items: center;
}


.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 23.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: 0.5s;
}

.nav li:hover a{
    color:#1d1918;
    transition: 0.3s;
}
.nav li:hover ~ .active{
    display: block;
}
.nav li:nth-child(1):hover ~ .active{
    top: 23.62%;
}
.nav li:nth-child(2):hover ~ .active{
    top: 31.28%;
}
.nav li:nth-child(3):hover ~ .active{
    top: 39%;
}
.nav li:nth-child(4):hover ~ .active{
    top: 46.7%;
}
